@font-face{
     font-family: faemoot_orn;
     src: url('../fonts/faemoot4o-webfont.woff');
     font-display: block;
}
@font-face{
     font-family: faemoot_reg;
     src: url('../fonts/faemoot4s-webfont.woff');
     font-display: block;
}
@font-face {
     font-family: cicle_shadow;
     src: url('../fonts/cicle_shadow-webfont.woff');
     font-display: block;
}
@font-face {
     font-family: cicle_fina;
     src: url('../fonts/cicle_fina-webfont.woff');
     font-display: block;
}
@font-face {
     font-family: eraser;
     src: url('../fonts/EraserRegular-webfont.woff');
     font-display: block;
}
@font-face {
     font-family: digit;
     src: url('../fonts/digital7italic-rbm3-webfont.woff');
     font-display: block;
}