.kartHeader{
    position: absolute;
    width: 12.5rem;
    height: 37rem;
    border-bottom-right-radius: 5rem;
    left: 0;
    background: #d8cca3;
}
.kartMiddle, .kartMiddle2{
    position: absolute;
    width: 17.5rem;
    height: 12rem;
    top: 10rem;
    left: 3.5rem;
}
.kartMiddle{
    display: flex;
    align-self: flex-start;
    overflow: hidden;
    scroll-behavior: smooth;
    background: #87805e;
}
.kartMiddle3{
    position: absolute;
    width: 6.5rem;
    height: 13rem;
    left: 15rem;
    top: 9.5rem;
    border-top-left-radius: 4rem;
    background: #b09b71;
}
.kartIMG{ 
    position: relative;
    width: 16rem;
    height: 11rem;
    top: 0.5rem;
    left: 0.75rem;
    padding: 0.3rem;
    box-sizing: border-box;
    background: #1b2430;
}
.kartMiddle2{
    height: 4rem;
    width: 100vw;
    left: 0;
    background: #ecb390;
    background-image: url('../pics/karte/tree-floor.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -5.5rem;
    top: 5rem;
}
.kartMain{
    /* background: #73a9ad;
    background: #cee5d0; */
    background: #9fc088;
    background: #816797;

    width: 100vw;
    height: 100vh;
    opacity: 0.2;
    transition: 2s;
}
.kartBottom1{
    background: #9fc088;
    background: #816797;
}
.kartBottom1, .kartBottom2{
    top: 24rem;
    left: 3.5rem;
    position: absolute;
    width: 7rem;
    height: 8rem;
}

.kartBottom2{
    border-top-left-radius: 5rem;
    left: 12rem;
    background: #d8cca3;
    width: 9rem;
}

.controlBox{
    position: absolute;
    width: 5.5rem;
    height: 5rem;
    left: 0.5rem;
    top: 7rem;
    display: flex;
    align-items: flex-end;
    background: #a47e3b;
}
.knob1,.knob2,.counter{
    box-sizing: border-box;
    background: white;
    margin: 0.1rem;
    width: 2.5rem;
    height: 1.4rem;
    text-align: center;
    font-size: 0.67rem;
    line-height: 2;
    font-family: faemoot_orn;
    font-weight: bold;
}
.counter{
    width: 1.93rem;
    font-size: 0.77rem;
}
.knob1,.knob2{
    border-radius: 0.2rem;
    font-size: 0.6rem;
}
.knob1{
    background: olive;
    color: yellow;
}
.knob2{
    background: olivedrab;
    color: white;
}
.last, .first{
    position: absolute;
    width: 5rem;
    height: 1.4rem;
    top: 0.2rem;
    left: 0.25rem;
    font-size: 0.7rem;
    font-family: faemoot_reg;
    font-weight: bold;
    background: olivedrab;
    color: yellow;
}
.first{
top: 1.7rem;
background: olive;
color: whitesmoke;
}