@font-face{
     font-family: faemoot_orn;
     src: url('../fonts/faemoot4o-webfont.woff');
font-display: block;
}
@font-face{
     font-family: faemoot_reg;
     src: url('../fonts/faemoot4s-webfont.woff');
font-display: block;
}
@font-face {
     font-family: cicle_shadow;
     src: url('../fonts/cicle_shadow-webfont.woff');
font-display: block;
}
@font-face {
     font-family: cicle_fina;
     src: url('../fonts/cicle_fina-webfont.woff');
font-display: block;
}
@font-face {
     font-family: eraser;
     src: url('../fonts/EraserRegular-webfont.woff');
font-display: block;
}

body::-webkit-scrollbar, body::-moz-scrollbar{
     width:0; height:0;
     }
*{
     padding: 0; margin: 0; outline: none;
     --surHeadDark: #000;
     
     --framingWidth: calc(70*0.225rem);
     --framingHeight: calc(64.95*0.225rem);
     --frameMargin: calc(12*0.225rem);
     --standardSpace: calc(2*0.225rem);
     
     --overlapPane: #2e2201;
     
     --surHeadClone: linear-gradient(180deg, #0000009f, #00008b2f);
     --surHeadBelle: #ffc0cb;
     --surHeadDark: #000;
     --surHeadLight: #f5f5f5;
     --surHeadNavy: #00003a;
     --surHeadMeadow: rgba(73, 0, 0, 0.466);
     --one: #f5f5f5;
     --two: #000;
     --three: #808080;
     --four: #5c0000;
     --five: orangered;
     
     --aether: #4400ff;
     --forest: #008000;
     --illumin: #bebe4d;
     --sea: #012146;
     --donna: #99525e;
}
#mainPg{
        position: relative;
        width: 22.5rem;
        margin: auto;
}
.surHead{
        position: absolute; top: 0;
        width: 100%; 
        height: 100vh;
        background: var(--surHeadDark);
        z-index: -6;
        transition: 1.5s;
}

.surSt, .surDC{
        position: absolute;
        top: 0;
        width: 100%; height: 100vh;
        background: linear-gradient(180deg, #0000009f, #00008b2f);
        z-index: -6;
        opacity: 1;
        transition: 1.5s;
        }
.surDC{
        background: radial-gradient(circle,#f7984a, rgb(14, 32, 6));
        }

.sidebar{
        position: fixed;
        float: left;
        clear: both;
        top: 0; left: 0;
        width: 0vw; height: 100vh;
        background: #2b01017e;
        background: #0000007e;
        z-index: 2;
        transition: 0.8s;
        opacity: 0.8;
}
.sideContent{
        position: absolute;
        top: 15%;
        width: 100.1%; height: 85%;
        background: linear-gradient(#ffff0093,black);
        border-top-right-radius: 5rem;

}
.sideContent a{
        text-decoration: none;
        color: white;
        display: block;
        transition: 0.3s;
        padding: 0.6rem 0.1rem;
}

.sideContent a:hover{
        color: #ffe601;
        transform: translateX(1rem);
        transition: 0.7s;
}
.sideContentUl{
        margin: 3rem 0 0 1.5rem;
        display: none;
        list-style: none;
        
}
.sideContentUl li:nth-child(1){
        margin-left: -1rem;
        font-size: calc(1.5rem*0.82);
        font-family: faemoot_orn;
}
.autresLi{
        margin-bottom:-0.3rem;

}
.sideContentUl li:nth-child(6){
        margin-bottom: 1rem;
}
#topicLi{
        transition: 0.8s;
}
/*QuiClix Button concerns*/
/* the transformable clicker*/
.quiClixBox{
        position: fixed;
        left: 17.78rem;
        float: left;
        width: 25vw; height: calc(2.5rem*0.82);
        transition: 1s;
        z-index: -1;
        transform: rotateZ(90deg);
        opacity: 0;

}

.quiClix{
        position: relative;/*enacts stch motion*/
        position: absolute;
        float: right;
        top:0;
        width: 80%; 
        height: 100%;
        border-radius: 2rem;
        border: 2px solid;
        color: white;
        transition: 0.8s;
        background: none;
}    
.quiClix:hover{
        background: yellowgreen;
}
.Alt{
        animation: floatDropAlt 2.1s ease-in 0s normal forwards; 
}

@keyframes floatDropAlt{
        0%{
                top: 2.1rem;
                opacity: 1;
                transform: rotateZ(0);
        }
        57.14%{
                top: 2.1rem;
                opacity: 1;
        }
        61.42%{
                top: 2.1rem;
                opacity: 1;
                transform: rotateZ(-15deg) translateX(-0.3rem);
        }
        63.8%{
                top: 2.1rem;
                opacity: 1;
                transform: rotateZ(15deg) translateX(0.3rem);
        }
        70.95%{
                top: 2.1rem;
                opacity: 1;
                transform: rotateZ(-15deg) translateX(-0.3rem);
        }
        78.1%{
                top: 2.1rem;
                opacity: 1;
                transform: rotateZ(15deg) translateX(0.3rem);
        }
        80.95%{
                top: 2.1rem;
                opacity: 1;
                transform: rotateZ(0) translateX(0);
                z-index: 1;
        }
        99.9%{
                z-index:1;
        }
        100%{
                top: 2.1rem;
                opacity: 1;
                transform: translateY(0);
                transform: rotateZ(0) translateX(0);
                z-index:7;
        }
}
.theKnobA{
        animation: stretchA 0.45s linear 0s 1 normal forwards;
}
.addLight{
        border: solid 2px black;
        color: black;
}

@keyframes stretchA{
        0%{
                width: 100%;
                length: 100%;
        }
        25%{
                margin-right: 0;
        }
        50%{
                width: 200%;
                margin-right: 0;
                border-left-width: 0;
        }
        51%{
                border-left-width: 15px;
        }
        99%{
                background: none;
        }
        100%{
                width: 80%;
                height: 100%;
                margin-right: 35vw;
                transform: translateX(-5vw);
                border: solid 5px white;
                border-left-style:ridge;
                border-left-width: 24px;
                border-left-color: red;
                background: yellow;
                color: red;
        }
}

.theKnobA:after, .theKnobC:before{
        content: "\02df";
        font-size: calc(2.5rem*0.82);
        line-height: 1.2;
        color: var(--themeBased, red);
}

.theKnobB:after, .theKnobD:before{
        content: "\058e";
        color: white;
        font-size: calc(1.4rem*0.82);
        color: var(--themeBased, white);
}
.theKnobB{
        animation: stretchB 0.8s linear 0s 1 normal forwards;
}

@keyframes stretchB{
        0%{
                width: 80%;
                height: 100%;
                margin-right: 35vw;
                border: solid 5px white;
                border-left-style:ridge;
                border-left-width: 24px;
                border-left-color: red;
                background: yellow;
                color: black;
        }
        
        50%{
                width: 80%;
                height: 100%;
                margin-right: 75vw;
                border: solid 5px white;
                border-right-style:ridge;
                border-right-width: 24px;
                border-right-color: #9acd32;
                background: white;
                color: black;
        }
        100%{
                width: 80%;
                height: 100%;
                margin-right: 75vw;
                border: solid 5px white;
                border-left-style:ridge;
                border-left-width: 24px;
                border-left-color: #9acd32;
                background: #916a6a;
                color: black;
        }
}

.theKnobC{
        animation: stretchC 0.8s linear 0s 1 normal forwards;
}
@keyframes stretchC{
        0%{
                width: 80%;
                height: 100%;
                margin-right: 75vw;
                border: solid 5px white;
                border-left-style:ridge;
                border-left-width: 24px;
                border-left-color: #9acd32;
                background: #916a6a;
        }
        100%{
                width: 80%;
                height: 100%;
                margin-right: 75vw;
                border: solid 5px white;
                border-right-style:ridge;
                border-right-width: 24px;
                border-right-color: red;
                background: yellow;
        }
}

.theKnobD{
        animation: stretchD 0.8s linear 0s 1 normal forwards;
}
@keyframes stretchD{
        0%{
                width: 80%;
                height: 100%;
                margin-right: 75vw;
                border: solid 5px white;
                border-right-style:ridge;
                border-right-width: 24px;
                border-right-color: red;
                background: yellow;
        }
        100%{
                width: 80%;
                height: 100%;
                margin-right: 75vw;
                border: solid 5px white;
                border-left-style:ridge;
                border-left-width: 24px;
                border-left-color: #9acd32;
                background: #916a6a;
        }
}
/*end of sidebar concerns*/


.headingBlock{
        font-family: cicle_shadow;
        font-size: 2.3rem;
        margin-bottom: 1rem;
}

.realLife, .escapismGrasp{
        position: relative;
        height: 0.2rem;
        width: 100%;

        top: 1rem;
}
.escapismGrasp{
        top: 13rem;
        perspective: 12rem;
}
.RLS{
        /* background: #c0c0c038; */
        border-radius: 5px;
        position: absolute;
}
.caption{
        position: absolute;
        top: -1.1rem;
        font-family: faemoot_orn;
}
.caption2{
        position: relative;
        top: 0;
        left: 12rem;
        width: 130px;
        height: 60px;
        padding-top: 10px;
        transform-style: preserve-3d;
        transform: rotateY(-25deg);
        background: rgb(22, 22, 22);
        color:white;
        border: solid 5px rgb(112, 31, 31);
        font-family: eraser;
        font-size: 0.85rem;
        text-indent: 1.8rem;
        text-align: center;
        box-sizing: content-box;
}
#rls{
        left: 5px;
        width: 180px;
        height: 180px;
        background: none;
        background-image: url('../pics/top_drawer.png');
        background-position-y: 40%;
        background-repeat: no-repeat;
        background-size: 70%;
}
#rls:hover{
        cursor: pointer;
}
.rls_text{
        width: 50px;
        height: 50px;
        position: relative;
        left: 62%;
        top: 50%;
        font-size:1.2rem;
        font-family: cicle_fina;
        font-weight: bolder;
}
.rls_text a, .ntslf_text a, .foi_text a{
        color: inherit;
        text-decoration: none;
}
.ntslf_text a{
        text-decoration: none;
}

#ntslf, #foi{
        left: 190px;
}
#ntslf{
        width: 60px;
        height: 60px;
        background-image: url('../pics/rose_note.png');
        background-size: 3.4rem;
        background-repeat: no-repeat;
}
.ntslf_text{
        width: 45px;
        height: 45px;
        position: relative;
        left: 3.5rem;
        font-size: 0.9rem;
        font-family: faemoot_orn;
}
#foi{
        width: 135px;
        height: 3.5rem;
        top: 3.5rem;
        background-image: url('../pics/interests.png');
        background-size: cover;
        background-repeat: no-repeat;
}
.foi_text{
        position: relative;
        top: 3.7rem;
        left: 1.7rem;
        font-family: cicle_fina;
        font-weight: bold;
        font-size: 0.9rem;
}
#breakLine{
        position: absolute;
        height: 0.1rem;
        width: 6rem;
        top: 15.5rem;
        left: 8rem;
        background: black;
}
.ESC, .ESCfeatures{
        position: absolute;
        width: 11rem;
        height: 21rem;
        background: #c0c0c038;
        top: 1rem;
        left: 0.5rem;
        border-radius: 0.5rem;
}
.cardDeck{
        position: relative;
        width: 10rem;
        height: 15rem;
        top: 0rem;
        left: 12rem;

}
.ESCfeatures, #pepe, #tub, #awfsom, #diar, #hiFi, #hitsB{
        width: 10rem;
        height: 10rem;
        left: 0;
        opacity: 0;
        color: white;
}
#pepe, #tub, #awfsom, #diar, #hiFi, #hitsB{
        position: absolute;
        opacity: 1;
}
.ESCfeaturesText{
        position: relative;
        width: 8.5rem;
        left: 0.75rem;
        height: 3rem;
        /* background: gray; */
        top: 5.6rem;
        font-size: 0.85rem;
        line-height: 0.95;
        letter-spacing: 0.025rem;
        font-family: faemoot_reg;
}
.cardstack{
        top: 3.9rem;
        opacity: 0;
        background: tomato;
        height: 7rem;
        z-index: 10;
        transition: 0;
        border-radius: 0;
}
.a{
        background:rgb(0, 0, 0, 0.9);
        top: 2.1rem;
        transition: 0.9s;
        z-index: 9;
        /* transform: skewX(12deg); */
}
.b{
        background:rgba(51, 51, 139, 0.9);
        top: 1.8rem;
        transition: 0.9s;
        z-index: 8;
}
.c{
        background:green;
        background: linear-gradient(rgba(0, 128, 128, 0.8),rgb(144, 238, 144, 0.8));
        top: 1.5rem;
        transition: 0.5s;
        z-index: 7;
}
.d{
        background:rgba(59, 75, 45, 0.9);
        top: 1.2rem;
        transition: 0.4s;
        z-index: 6;
}
.e{
        top: 0.9rem;
        transition: 0.6s;
        z-index: 5;
        background: linear-gradient(rgb(154, 205, 50, 0.9), rgb(165, 42, 42, 0.9));
}
.f{
        background: brown;
        background:linear-gradient(rgb(0, 0, 0, 0.9), rgb(128, 128, 128, 0.9));
        top: 0.6rem;
        transition: 1s;
        z-index: 4;
}
.g{
        background: purple;
        background: linear-gradient(rgba(128, 0, 128, 0.8),rgb(0, 128, 128, 0.98));
        top: 0.3rem;
        transition: 0.37s;
        z-index: 3;
}

.escIN{
        position: absolute;
        height: 6.4rem;
        width: 10rem;

        top: 1.2rem;
        left: 0.5rem;
        border-radius: 2px;
        font-family: faemoot_orn;
        font-size: 0.8rem
}
.escIN ul{
        list-style: none;
}
#escOne{
        top: 0.4rem;
}
#escTwo{
        top: 6.9rem;
}
#escThree{
        top: 14rem;
}
.vraisVis{
        opacity:1;
}
.vraisVisE{
        opacity:0.95;
}
.escCont{
        position: relative;
        text-indent: 1rem;
        font-family: 'cicle_fina';
        margin-bottom: 0.2rem;
        font-weight: bold;
}
.sway{
        background: none;
        border: none;
        font-family: cicle_fina;
        color: inherit;
        font-weight: bold;
}
.sway:hover{
        position: relative;
        text-decoration: underline;
        color: inherit;
        transform: translateX(-0.5rem);
        transition: 0.6s;
}
#diar{
        top: 0rem;
        background-image: url('../pics/death-and-cerbry.png');
        background-repeat: no-repeat;
        background-size: 70%;
        background-position-y: 0.6rem;
        background-position-x: 1.5rem;
}
#pepe{
        top: 2rem;
        background-image: url('../pics/pepe_sullen.png'),url('../pics/pepe_smugg.png');
        background-repeat: no-repeat, no-repeat;
        background-size: 58%, 60%;
        background-position-x: 0.33rem, 3.7rem;
        background-position-y: -1rem, -1rem;
}
#tub{
        top: 1rem;
        background-image: url('../pics/tub.jpg');
        background-repeat: no-repeat;
        background-size: 70%;
        background-position-x: center;
}
#awfsom{
        top: 0;
        background-image: url('../pics/pyed.png');
        background-repeat: no-repeat;
        background-size: 95%;
        background-position-y: 1.5rem;
}
#hiFi{
        top: 0;
        background-image: url('../pics/high_five.png');
        background-repeat: no-repeat;
        background-size: 60%;
        background-position-x: center;
        background-position-y: 0.6rem;
}

.theMsgPanel{
        position: relative;
        top: 0.6rem;
        width: 5rem;
        height: 1.5rem;
        background: #cab988;
        margin: auto;
        border-top-left-radius: 2rem;
        border-top-right-radius: 2rem;
        border-bottom-right-radius: 2rem;
        border-bottom-left-radius: 2rem;
        overflow-y: scroll;
        border: 1rem solid;
        display: none;
        box-sizing: border-box;
}
.active{
animation: theNote 1s linear 0s 1 forwards normal;
display: block;
}
.rlmsg:hover{
        cursor: pointer;
}
.messageText, .m2{
        width: 17rem;
        color: brown;
        position: relative;
        font-family: cicle_fina;
        top: 0;
        left: 1.5rem;
        font-weight: bold;
        letter-spacing: 2px;
        font-size: 1.5rem;
        text-align: justify;
}
.m2{
        top: 4rem;
        letter-spacing: 0.2px;
        font-size: 1.3rem;
}
.imgHolderFirst{
        position: relative;
        top: 1.5rem;
        width: 15rem;
        height: 13rem;
        background: orangered;
        margin:auto;
}
.imgHolder{
        position: relative;
        top: 0.5rem;
        width: 14rem;
        height: 10rem;
        background: blue;
        margin:auto;
}
.imgHolderTopper{
        position: relative;
        top: 0;
        width: 12rem;
        height:4rem;
        background: brown;
        margin:auto;
}

@keyframes theNote {
40%{
        width: 19rem;
        height: 1rem;
        border-bottom-right-radius: 2rem;
        border-bottom-left-radius: 2rem;
}
50%{
        width: 22rem;
        height: 1rem;
        border-bottom-right-radius: 1rem;
        border-bottom-left-radius: 1rem;
}
100%{
        width: 22rem;
        height: 34.5rem;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
}
}

/* the top drawer concerns*/
.topDrawerPanel{
        position: relative;
        top: 0.5rem;
        width: 22rem;
        left: 22rem;
        height: 35rem;
        background: #c0c0c0;
        opacity: 0.8;
        border-radius: 0.5rem;
        display: none;
}
.drawerActive{
        display: block;
        animation: topDrawer 1s ease-in-out 0s 1 forwards normal;
}
.drawerPassive{
        animation: drawerClosed 1s ease-in-out 0s 1 forwards normal;
}

@keyframes topDrawer{
100%{
        left: 0;
        margin: auto;
        opacity: 0.8;
}
}
@keyframes drawerClosed{
0%{
        top: 0.5rem;
        width: 22rem;
        left: 0;
        opacity: 0.8;
        margin: auto;
}
100%{
        height: 0;
        left: 0;
        margin: auto;
        opacity: 0;
}
}
