@media only screen and (max-width: 600px){

    *{
        padding: 0; margin: 0; outline: none;
        --framingWidth: 70vw; 
        --framingHeight: 30vh;
        --frameMargin: 12vw;
        --frameThemeLight: #ffffff; 
        --frameThemeDark: #000;
        --Corona: calc(20.5vh + 3.3rem);
        --overlapPane: rgba(5, 73, 107);
        --overlapPane: #2e2201;
        --Splice: calc(30vh + 3.3rem);
        --standardSpace: 2vh;
        --mastHead: #2e2201;
        --mastBorder: #009bd8;
        
        --surHeadWindowsClone: linear-gradient(180deg, #0000009f, #00008b00);
        --surHeadLight: linear-gradient(180deg, #ffffff, #00000000);
        --surHeadDark: #000;
        --surHeadDusk: radial-gradient(circle,#f7984a, rgb(14, 32, 6));
    }
/*The top section*/
    .mastHead{
        height: 19vh; width: 99.5vw; margin-left: 0.25vw;
        background: var(--mastHead);
        border-bottom: 1vh solid var(--mastBorder);
        border-bottom-left-radius: 0.8rem;
        border-bottom-right-radius: 0.8rem;
    }
    .surHead{
        position: absolute;
        top: 0;
        background: var(--surHeadDusk);
        width: 100vw; height: 100vh;
        z-index: -3;
        transition: 2s;
    }
    .divider{
        color:"#c0c0c0";
        position: absolute;
        top: var(--Corona); width: 96vw;
        left: 2vw;
    }
    .smallDivider{
        margin-bottom: var(--standardSpace); 
        margin-left: 12vw; 
        width: 70vw;
    }

/*The Mid-section*/

    .frame{
        position: relative;
        top: 0; left: var(--frameMargin);
        width: var(--framingWidth); 
        height: var(--framingHeight);
        z-index: -2;
        margin-top: 2vh;
        margin-bottom: 2vh;
    }
    .hig-3{
        z-index: -1;
        color: white;
    }
    .hig-4,.hig-5,.hig-7,.hig-8,.hig-9{
        z-index: 1;
    }
    .hig-6{
        z-index: 2
    }
    .hig-3{
        position: absolute;
        width: 100%; height: 100%;
        left: 0;
        transition: 0.5s;
    }

    /*dimensions for glass panes*/
    .hig-4,.hig-5,.hig-6,.hig-7{
        position: absolute;
        width: 49.4%;
        height: 49.4%;
    }
    .hig-8,.hig-9{
        width: 24.2%;
        position: absolute;
        box-sizing: border-box;
    }    
    .hig-4,.hig-7,.hig-9{
        background: #c0c0c038;
        transition: 2s;
    }
    .hig-7{
            right:0;
        }
    .hig-5{
            left: 50.6%; bottom: 50.6%;
        }
    .hig-6,.hig-7{
            bottom:0;
        }
    .hig-8{
            height: 24.8%;
            top: 50.6%;
        }
    .hig-9{
            height: 32.7%;
            left: 25.2%; top: 50.6%;
        }
    .hig-a1, .hig-a2 {
            width: 98vw; margin-left: 1vw;
            height: 30vh;
            background:#c0c0c038;
            border-radius: 2%;
            margin-bottom: 0.2rem;
        }
    .hig-a2{
            height: 10vh;}

    /* Colors for glass panes*/
    .hig-5,.hig-6,.hig-8{
        background: #c0c0c094;
        /*for both light and dark theme=====>*/
        
    }
    .hig-4,.hig-7,.hig-9{
        background: #50505070;
        transition: 2s;
    }
    .hig-10{
        transition: 2s;
    }

    /*transitions for glass panes*/
    @keyframes reduce {
        100% {            
            height: 0%; width: 0%;
        }
    }
    
    @keyframes overlap{
        0%{
            z-index: 3; width: 49.4%; height: 0;
            background: var(--overlapPane);
        }
        20%{ 
            z-index: 3; width: 49.4%; height: 49.4%; left:0%;
            animation-timing-function: ease-in-out;
        }
        45%{
            z-index:3; width: 49.4%; height: 49.4%; left:50.6%;
            bottom:0; background:var(--overlapPane);
            transform: skewX(0);
            animation-timing-function: ease-out;
        }
        50%{
            z-index:3; width: 49.4%; height: 24.7%; left:62.5%;
            bottom:24.7%; background:var(--overlapPane);
            transform: skewX(45deg);
            animation-timing-function: ease-out;
        }
        54%{
            z-index:3; width: 49.4%; height: 4.94%; left:62.5%;
            bottom:44.46%; background:var(--overlapPane);
            transform: skewX(79deg);
            animation-timing-function: ease-out;
        }
        54.5%{
            z-index:3; width: 49.4%; height: 0; left:62.5%;
            bottom:49%; background:var(--overlapPane);
            transform: skewX(88.5deg);
            animation-timing-function: ease-out;
        }
        55%{
            z-index:3; width: 0; height: 0; left:62%;
            bottom:50.6%; background:var(--overlapPane);
            transform: skewX(0deg);
            animation-timing-function: ease-out;
        }
        55.5%{
            z-index:3; width: 4.94%; height: 0; left:62.5%;
            bottom:50.6%;
            transform: skewX(-88.5deg);
            animation-timing-function: ease-out;
        }
        56%{
            z-index:3; width: 48%; height: 3%; left: 62.5%;
            bottom:50.6%; background:#e6e6e68f;
            transform: skewX(-79deg);
            animation-timing-function: ease-out;
        }
        60%{
            z-index:3; width: 48%; height: 24.7%; left: 62.5%;
            bottom:50.6%; background:#e6e6e680;
            transform: skewX(-45deg);
            animation-timing-function: ease-out;
        }
        65%{
            z-index:3; width: 49.4%; height: 49.4%; left:50.6%;
            bottom:50.6%; background:#e6e6e671;
            transform: skewX(0deg);
            animation-timing-function: ease-out;
        }
        70%{
            z-index:-3; width: 49.6%; height: 45%; left:48.3%; 
            bottom:50.6%; background: #e6e6e6a8;
            transform: skewX(10deg);
            animation-timing-function: linear;
        }
        75%{
            z-index:3; width: 49.4%; height: 49.4%; left:50.6%; 
            bottom:50.6%; background: #e6e6e69f;
            transform: skewX(0deg);
            animation-timing-function: ease;
        }
        80%{
            z-index:3; width: 49.4%; height: 49%; left:52%; 
            bottom:50.6%; background: #e6e6e671;
            transform: skewX(-5deg);
            animation-timing-function: linear;
        }
        
        90%{
            z-index:3; width: 49.4%; height: 49.4%; left:50.6%; 
            bottom:50.6%; background: #c0c0c071;
            transform: skewX(0deg);
            animation-timing-function: ease-out;
        }
        100%{
            z-index:3; width: 49.4%; height: 49.4%; left:50.6%; 
            bottom:50.6%; background: #c0c0c094;
            transform: skewX(0deg);
            animation-timing-function: ease-out;
        }
    }
    
    @keyframes turn{
        11.5%{
            background: #c0c0c038;
            -ms-transform: rotateY(90deg);
            -webkit-transform: rotateY(90deg);
            transform: rotateY(90deg);
        }
        11.55%{
            background:#e6e6e6b6;
        }
        34%{
            -ms-transform: rotateY(195deg);
            -webkit-transform: rotateY(195deg);
            transform: rotateY(195deg);
        }
        36%{
            -ms-transform: rotateY(180deg);
            -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
        }
        
        37.5%{
            -ms-transform: rotateY(195deg);
            -webkit-transform: rotateY(195deg);
            transform: rotateY(195deg);
        }
        40%{
            transform: rotateY(180deg);
            background: #c0c0c090;
        }
        84%{
            transform: rotateY(180deg);
            background: #c0c0c094;
            
        }
        92%{
            background: #c0c0c0af;
        }
        100%{
            transform: rotateZ(180deg);
        }
    }
    @keyframes extend {
        20.83%{ 
            height: 32.7%;
        }
        41.67%{ 
            height: 49%;
        }
        66.67%{ 
            height: 49%; top: 50.6%;
        }
        82.5%{
            top: 77%; height: 22.6%;
        }
        97%{
            top: 77%; height: 22.6%;
        }
        100%{
            top: 99%; height: 0;
        }
    }
    @keyframes clove{
        70%{
            width: 49.4%;
            height: 24.8%;
            z-index: 4;
        }
        100%{
            width: 49.4%;
            height: 49%;
            z-index: 4;
            background: #c0c0c094;
            opacity: 0.9;
        }
    }
    @keyframes milieu {
        100%{
            transform: rotate3d(1,1,0, -90deg);
            animation: ease-in;
        }
    }
 
    @keyframes terminalCover {
        100%{
            transform: translateY(-25vh);
            opacity:1;
        }
    }

    @keyframes shrink {
        0%{
            width: 65%;
            margin: auto;
        }
        100%{
            margin: auto;
            width: 0;
            opacity: 0;
        }
    }

    /*effecting the transitions movements and timing*/
    .hig-5{
        animation: reduce 1s linear 0.6s 1 normal forwards;
    }
    .hig-6{
        animation: overlap 3s ease-in-out 1.6s 1 normal both; 
    }
    .hig-7{
        animation: turn 4.4s ease-out 1s 1 normal forwards;
    }
    .hig-9{
        animation: extend 6s ease 1.3s 1 normal forwards;
    }
    .hig-8{
        animation: clove 1s ease 6.4s 1 normal forwards;   
    }
    .hig-3{
        animation: milieu 0.5s ease-out 8s 1 normal forwards;
    }
    .smallDivider{
        animation: shrink 1s ease 8.5s normal forwards;
    }
    .raiser{
        position: relative;
        z-index: -1;
        width: 100%;
        animation: terminalCover 1.2s ease 9s normal forwards;
    }
    .raiser2{
        position: relative;
        z-index: -1;
        width: 100%;
        animation: terminalCover 1.2s ease 10s normal forwards;
    }
/*The Sidebar*/
    .sidebar{
        position: sticky;
        float: left;
        clear: both;
        top: 0; left: 0;
        width: 0vw; height: 100vh;
        background: #2b01017e;
        background: #0000007e;
        z-index: 6;
        transition: 0.8s;
    }
    .quiClixBox{
        position: sticky;
        top: 10vh; left: 70vw;
        float: left;
        width: 25vw; height: 2.5rem;
        transition: 1s;
        z-index: -1;
        transform: rotateZ(90deg);
    }
    
    .quiClix{
        position: relative;
        float: right;
        width: 80%; height: 100%;
        border-radius: 2rem;
        border: 3px solid white;
        color: white;
        transition: 0.8s;
        background: none;
    }

    .quiClix:hover{
        background: yellowgreen;
    }

    
    .quiClixBox{
        animation: floatDrop 3s ease-in 11.5s normal forwards; 
    }
    
    @keyframes floatDrop {
        0%{

            opacity: 0.2;
        }
        24%{
            top: 10vh;
            opacity: 1;
            transform:rotateZ(0deg);
        }
        27%{
            top: 10vh;
            opacity: 1;
            transform: translateY(-0.5rem) rotateZ(10deg);
        }
        30%{
            top: 10vh;
            opacity: 1;
            transform: rotateZ(0);
        }
        70%{
            top: 10vh;
            opacity: 1;
            transform: translateY(-0.5rem);
        }
        73%{
            top: 10vh;
            opacity: 1;
            transform: translateY(-0.5rem);
            transform: rotateZ(-15deg) translateX(-0.3rem);
        }
        78%{
            top: 10vh;
            opacity: 1;
            transform: translateY(-0.5rem);
            transform: rotateZ(15deg) translateX(0.3rem);
        }
        83%{
            top: 10vh;
            opacity: 1;
            transform: translateY(-0.5rem);
            transform: rotateZ(-15deg) translateX(-0.3rem);
        }
        88%{
            top: 10vh;
            opacity: 1;
            transform: translateY(-0.5rem);
            transform: rotateZ(15deg) translateX(0.3rem);
        }
        90%{
            top: 10vh;
            opacity: 1;
            transform: translateY(-0.5rem);
            transform: rotateZ(0) translateX(0);
            z-index: -1;
        }
        100%{
            top: 10vh;
            opacity: 1;
            transform: translateY(0);
            transform: rotateZ(0) translateX(0);
            z-index:7;
        }
    }

    .theKnobA{
    animation: stretchA 0.45s linear 0s 1 normal forwards;
    }

@keyframes stretchA{
    0%{
        width: 100%;
        length: 100%;
    }
    25%{
        margin-right: 0;
    }
    50%{
        width: 200%;
        margin-right: 0;
        border-left-width: 0;
    }
    51%{
        border-left-width: 15px;
    }
    99%{
        background: none;
    }
    100%{
        width: 80%;
        height: 100%;
        margin-right: 35vw;
        transform: translateX(-5vw);
        border: solid 5px white;
        border-left-style:ridge;
        border-left-width: 24px;
        border-left-color: red;
        background: yellow;
        color: red;
    }
}
.theKnobA:after, .theKnobC:before{
    content: "\02df";
    font-size: 2.5rem;
    line-height: 1.2;
    color: var(--themeBased, red);
}
.theKnobB:after, .theKnobD:before{
    content: "\058e";
    color: white;
    font-size: 1.4rem;
    color: var(--themeBased, white);
}
.theKnobB{
        animation: stretchB 0.8s linear 0s 1 normal forwards;
    }
@keyframes stretchB{
    0%{
        width: 80%;
        height: 100%;
        margin-right: 35vw;
        border: solid 5px white;
        border-left-style:ridge;
        border-left-width: 24px;
        border-left-color: red;
        background: yellow;
        color: black;
    }
    50%{
        width: 80%;
        height: 100%;
        margin-right: 75vw;
        border: solid 5px white;
        border-right-style:ridge;
        border-right-width: 24px;
        border-right-color: #9acd32;
        background: white;
        color: black;
    }
    100%{
        width: 80%;
        height: 100%;
        margin-right: 75vw;
        border: solid 5px white;
        border-left-style:ridge;
        border-left-width: 24px;
        border-left-color: #9acd32;
        background: #916a6a;
        color: black;
    }
}
    .theKnobC{
        animation: stretchC 0.8s linear 0s 1 normal forwards;
    }
@keyframes stretchC{
    0%{
        width: 80%;
        height: 100%;
        margin-right: 75vw;
        border: solid 5px white;
        border-left-style:ridge;
        border-left-width: 24px;
        border-left-color: #9acd32;
        background: #916a6a;
    }
    100%{
        width: 80%;
        height: 100%;
        margin-right: 75vw;
        border: solid 5px white;
        border-right-style:ridge;
        border-right-width: 24px;
        border-right-color: red;
        background: yellow;
    }
}
    .theKnobD{
        animation: stretchD 0.8s linear 0s 1 normal forwards;
    }
@keyframes stretchD{
    0%{
        width: 80%;
        height: 100%;
        margin-right: 75vw;
        border: solid 5px white;
        border-right-style:ridge;
        border-right-width: 24px;
        border-right-color: red;
        background: yellow;
    }
    100%{
        width: 80%;
        height: 100%;
        margin-right: 75vw;
        border: solid 5px white;
        border-left-style:ridge;
        border-left-width: 24px;
        border-left-color: #9acd32;
        background: #916a6a;
    }
}
    
/*The links in the sidebar*/
    .sideContent{
        top: 20vh;
        position: absolute;
        width: 100%; height: 90%;
        background: linear-gradient(#ffff0093,black);
    }
    .sideContent a{
        text-decoration: none;
        color: white;
        display: block;
        transition: 0.3s;
        padding: 1rem;

    }
    .sideContent a:hover{
        color: #ffe601;
        transform: translateX(1.2rem);
        transition: 0.7s;
    }
    .sideContentUl{
        display: none;
    }



/*The bottom*/
    .footer{
        width: 100%; height: 20vw;
        background: #6b6d6f;
    }
}
