.unsupported, .unsupportedJS{
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 100vw;
}
.unsupportedJS{
    background: green;
    display: block;
}
#enableJS{
    position: absolute;
    top: 2rem;
    left: 2rem;
    font-size: 1.05rem;
    width: 80vw;
    height: 6rem;
}
#enableJS:before{
    font-family: 'faemoot_orn';
    color: white;
    content: "Sorry... some major features of TheMellowTheme website are not supported without javascript! :-(";
}
#enableJS:after{
    font-family: 'faemoot_orn';
    color: yellow;
    content: 'Please enable javascript in your browser settings! :)';
}


.in_n {
    width: 6.2rem;
    height: 6.2rem;
    background: whitesmoke;
    position: absolute;
    left: 4.5rem;
    top: 3rem;
    border-radius: 25%;
    animation: inNext 4s linear infinite;
}

#notifier, #notifier2{
    position: absolute;
    top: 11rem;
    left: 2rem;
    font-size: 1.05rem;
    width: 80vw;
    height: 6rem;
}
#notifier2{
    top: 29.5rem;
    font-family: 'faemoot_orn';
    color: white;
    display: none;
}
#notifier2 a{
    color: yellow;
}

#notifier:before{
    font-family: 'faemoot_orn';
    color: white;
    content: "Sorry... some major features of TheMellowTheme website are not supported on this device configuration :-(";
}

#notifier:after{
    font-family: 'faemoot_orn';
    color: yellow;
    content:'If you are getting this message while using a computer, maximise your browser window and refresh the page... Possible fixes, if on mobile, include enabling desktop view, rotating your phone if on landscape mode, or using a device with a browser resolution of not less than 360 pixel width and 640 pixels height. :-)';
}

@media only screen and (max-width: 359px){
    body{
        background: green;
    }
    .cape,.surDC,.surSt,.surHead,.frame,.smDiv,.raiser,.raiser2,.tailEndSecure,.styleTapWrap,.themeSwitchGrasp,.themeButtons,.themeButtons2,.sidebar,.descriptor,.quiClixBox,.sunflap,.sidebell,.dialog,.bubble,.ballframe,.werey,#restoreUp,#restoreBack,#restoreDown{
        display: none;
    }
    .unsupported{
        display: block;
    }
    #notifier2{
        display: block;
    }
}


@media only screen and (max-width: 349px) and (max-height: 639px){
    body{
        background: green;
    }
    .cape,.surDC,.surSt,.surHead,.frame,.smDiv,.raiser,.raiser2,.tailEndSecure,.styleTapWrap,.themeSwitchGrasp,.themeButtons,.themeButtons2,.sidebar,.descriptor,.quiClixBox,.sunflap,.sidebell,.dialog,.bubble,.ballframe,.werey,#restoreUp,#restoreBack,#restoreDown{
        display: none;
    }
    .unsupported{
        display: block;
    }
    #notifier:after{
    content:'Possible fixes, if on mobile, include enabling desktop view, rotating your phone if on landscape mode, or using a device with a browser resolution of not less than 360 pixel width and 640 pixels height :-)';
}
    #notifier2{
        display: block;
    }
}

@media only screen and (min-width: 640px) and (max-width: 999999px) and (min-height: 360px) and (max-height: 599px) {
    body{
        background: rebeccapurple;
    }
    .cape,.surDC,.surSt,.surHead,.frame,.smDiv,.raiser,.raiser2,.tailEndSecure,.styleTapWrap,.themeSwitchGrasp,.themeButtons,.themeButtons2,.sidebar,.descriptor,.quiClixBox,.sunflap,.sidebell,.dialog,.bubble,.ballframe,.werey,#restoreUp,#restoreBack,#restoreDown{
        display: none;
    }
    .unsupported{
        display: block;
    }
    #notifier:after{
        content: 'Please Rotate Your Device';    
    }
    #notifier:before{
        content: "Sorry... some major features of TheMellowTheme website are not supported on this orientation :-(";
    }
    #notifier2{
    top: 29.5rem;
    display: none;
}
}

@media only screen and (min-width: 500px) and (max-width: 600px) and (min-height: 360px) and (max-height: 600px){
    body{
        background: palevioletred;
    }
    .cape,.surDC,.surSt,.surHead,.frame,.smDiv,.raiser,.raiser2,.tailEndSecure,.styleTapWrap,.themeSwitchGrasp,.themeButtons,.themeButtons2,.sidebar,.descriptor,.quiClixBox,.sunflap,.sidebell,.dialog,.bubble,.ballframe,.werey,#restoreUp,#restoreBack,#restoreDown{
        display: none;
    }
    .unsupported{
        display: none;
    }
}

/*accomondation for 550px*/
@media only screen and (min-height: 500px) and (max-height: 549px) and (min-width: 360px){
    body{
        background: mediumaquamarine;
    }
    .cape,.surDC,.surSt,.surHead,.frame,.smDiv,.raiser,.raiser2,.tailEndSecure,.styleTapWrap,.themeSwitchGrasp,.themeButtons,.themeButtons2,.sidebar,.descriptor,.quiClixBox,.sunflap,.sidebell,.dialog,.bubble,.ballframe,.werey,#restoreUp,#restoreBack,#restoreDown{
        display: none;
    }
    .unsupported{
        display: block;
    }
}

/*accomodation for blackberry passport*/
    @media only screen and (min-height: 500px) and (max-height: 510px) and (min-width: 500px) and (max-width: 510px){
    body{
        background: mediumaquamarine;
    }
    .cape,.surDC,.surSt,.surHead,.frame,.raiser,.raiser2,.tailEndSecure,.styleTapWrap,.themeSwitchGrasp,.themeButtons,.themeButtons2,.sidebar,.descriptor,.quiClixBox,.sunflap,.sidebell,.dialog,.bubble,.ballframe,.werey,#restoreUp,#restoreBack,#restoreDown{
        display: block;
    }
    .unsupported{
        display: none;
    }
    .accomodate{
        transform: translateY(-1rem);
    }
    .styleTapWrap{
        position: fixed; top: calc(115*0.225rem);
        width: 98%; left:1%;
        height: calc(26*.225rem);
        z-index: 5;
        transition: 0.8s;
    }
    .descriptor{
        position: fixed;
        top:1rem;
    }
    .cape,.surDC,.surSt,.surHead,.sidebar{
        height: 40rem;
        min-height: 40rem;
    }
    .frame{
        top: 7rem;
    }
}
/*end of accomod2*/

@media only screen and (min-width: 360px) and (max-height: 499px){
    body{
        background: rebeccapurple;
    }
    .cape,.surDC,.surSt,.surHead,.frame,.smDiv,.raiser,.raiser2,.tailEndSecure,.styleTapWrap,.themeSwitchGrasp,.themeButtons,.themeButtons2,.sidebar,.descriptor,.quiClixBox,.sunflap,.sidebell,.dialog,.bubble,.ballframe,.werey,#restoreUp,#restoreBack,#restoreDown{
        display: none;
    }
    .unsupported{
        display: block;
    }
}

@media only screen and (min-width: 500px) and (max-width: 599px) and (max-height: 359px){
    body{
        background: palevioletred;
    }
    .cape,.surDC,.surSt,.surHead,.frame,.smDiv,.raiser,.raiser2,.tailEndSecure,.styleTapWrap,.themeSwitchGrasp,.themeButtons,.themeButtons2,.sidebar,.descriptor,.quiClixBox,.sunflap,.sidebell,.dialog,.bubble,.ballframe,.werey,#restoreUp,#restoreBack,#restoreDown{
        display: none;
    }
    .unsupported{
        display: block;
    }
    #notifier:after{
    content:'Possible fixes, if on mobile, include enabling desktop view, rotating your phone if on landscape mode, or using a device with a browser resolution of not less than 360 pixel width and 640 pixels height :-)';
}
    #notifier2{
        display: block;
    }
}

/*piece de resistance*/

@media only screen and (min-width: 545px) and (min-height: 600px){
    body{
        background: grey;
    }
    .mastHead,.cape,.surDC,.surSt,.surHead,.frame,.smDiv,.raiser,.raiser2,.tailEndSecure,.styleTapWrap,.themeSwitchGrasp,.themeButtons,.themeButtons2,.sidebar,.descriptor,.quiClixBox,.sunflap,.sidebell,.dialog,.bubble,.ballframe,.werey,#restoreUp,#restoreBack,#restoreDown{
        display: none;
    }
    .unsupported{
        display: block;
    }
}

@media only screen and (min-height: 545px) and (min-width: 600px){
    body{
        background: grey;
    }
    .mastHead,.cape,.surDC,.surSt,.surHead,.frame,.smDiv,.raiser,.raiser2,.tailEndSecure,.styleTapWrap,.themeSwitchGrasp,.themeButtons,.themeButtons2,.sidebar,.descriptor,.quiClixBox,.sunflap,.sidebell,.dialog,.bubble,.ballframe,.werey,#restoreUp,#restoreBack,#restoreDown{
        display: none;
    }
    .unsupported{
        display: none;
    }
}
/*auto redirect to desktop*/